IP_DISCORDIADOR=127.0.0.1
PUERTO_DISCORDIADOR=5001
PUNTO_MONTAJE=/home/utnso/fs-imongo/
PUERTO=5003
TIEMPO_SINCRONIZACION=12
POSICIONES_SABOTAJE=[1|1]
ARCHIVO_OXIGENO_NOMBRE=oxigeno.ims
ARCHIVO_COMIDA_NOMBRE=comida.ims
ARCHIVO_BASURA_NOMBRE=basura.ims
BYTES_BLOQUE=256
CANTIDAD_BLOQUES=32768
PATH_BITACORA=files/bitacora/
PATH_FILES=files/
LOG_LEVEL=INFO
TIEMPO_SABOTAJE=10