IP_DISCORDIADOR=127.0.0.1
PUERTO_DISCORDIADOR=5001
PUNTO_MONTAJE=/home/utnso/config/
PUERTO=5003
TIEMPO_SINCRONIZACION=1000
POSICIONES_SABOTAJE=[1|1, 2|2, 3|3, 4|4, 5|5, 6|6, 7|7]
ARCHIVO_OXIGENO_NOMBRE=oxigeno.ims
ARCHIVO_COMIDA_NOMBRE=comida.ims
ARCHIVO_BASURA_NOMBRE=basura.ims
BYTES_BLOQUE=4
CANTIDAD_BLOQUES=100
PATH_BITACORA=files/bitacora/
PATH_FILES=files/
